@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Chango&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    --tw-bg-opacity: 1;
    background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

img {
    -webkit-user-drag: none;
}

.logo,
.loading-text {
    font-family: "Chango", cursive;
}

.font-chango {
    font-family: "Chango", cursive;
}

.font-open-sans {
    font-family: "Open Sans", sans-serif;
}

#artist-input {
    transition: 0.15s ease-in;
}

#artist-input:focus {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.096);
}

.loader {
    position: fixed;
    z-index: 99999999;
    top: 0;
    left: 0;
    /* height: 500px; */
    width: 100%;
}

.animation {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

/* Loader */
.sk-cube-grid {
    width: 100px;
    height: 100px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: rgba(229, 231, 235, 1);
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.6s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.6s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
